In [201]:
import pandas as pd
import statistics as sts

df = pd.read_csv('./dados/tempo.csv', sep=';')
df.shape

(14, 5)

In [202]:
df.head()

  Aparencia  Temperatura  Umidade       Vento Jogar
0       sol           85     85.0       FALSO   nao
1       sol           80     90.0  VERDADEIRO   nao
2   nublado           83     86.0       FALSO   sim
3     chuva           70      NaN       FALSO   sim
4     chuva           68     80.0       FALSO   sim

In [203]:
df['Aparencia'].isnull().sum()

0

In [204]:
dfAparencia = df.groupby('Aparencia').size()
dfAparencia

Aparencia
chuva      5
menos      1
nublado    3
sol        5
dtype: int64

In [205]:
#trocando valores invalidos de aparencia para o valor valido que mais foi utilizado no campo ja
df.loc[~df['Aparencia'].isin(['chuva', 'nublado', 'sol']), 'Aparencia'] = dfAparencia.idxmax()
df.groupby('Aparencia').size()

Aparencia
chuva      6
nublado    3
sol        5
dtype: int64

In [206]:
df['Temperatura'].isnull().sum()
df['Temperatura'].describe()

count      14.000000
mean      155.571429
std       306.433759
min        64.000000
25%        69.250000
50%        73.500000
75%        80.750000
max      1220.000000
Name: Temperatura, dtype: float64

In [207]:
df.loc[(df['Temperatura'] > 130) | (df['Temperatura'] < -130), 'Temperatura'] = df['Temperatura'].median().__trunc__()
df['Temperatura'].describe()

count    14.000000
mean     73.642857
std       6.558695
min      64.000000
25%      69.250000
50%      72.500000
75%      78.750000
max      85.000000
Name: Temperatura, dtype: float64

In [208]:
df['Umidade'].isnull().sum() #tem um valor NaN
df['Umidade'].describe()

count     13.000000
mean      89.769231
std       34.540203
min       65.000000
25%       70.000000
50%       85.000000
75%       90.000000
max      200.000000
Name: Umidade, dtype: float64

In [209]:
df.loc[(df['Umidade'] > 100) | (df['Umidade'] < 0), 'Umidade'] = sts.median(df['Umidade'])
df['Umidade'].describe()

count    13.000000
mean     80.961538
std       9.896257
min      65.000000
25%      70.000000
50%      85.000000
75%      90.000000
max      95.000000
Name: Umidade, dtype: float64

In [210]:
df.fillna({'Umidade': sts.median(df['Umidade'])}, inplace=True)
df['Umidade'].isnull().sum()

0