In [69]:
import pandas as pd
import numpy as np

df = pd.read_csv('./dados/iris.csv')

In [70]:
df.shape

(150, 5)

In [71]:
df.head()

   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [72]:
#objetivo: extrair aleatoriamente dados desse df

#utilizar random.seed(x) para criar uma semente aleatória do tipo deterministico, onde voce sempre vai conseguir os mesmos valores dentro desse df utilizando a mesma semente
#sempre executar random.seed(x) ANTES de qualquer outro método random, como random.choice()
np.random.seed(2345)

#a são os valores que podem ser gerados para cada elemento aleatório
#Size é a quantidade de amostras que serão geradas
#Replace significa reposição, se sorteou 0, então pode sortea-lo novamente ja que é True.
#p é a probabilidade INDEPENDENTE de cada elemento de a ser escolhido
amostra = np.random.choice(a= [0,1], size=150, replace=True, p = [0.7,0.3])

#a amostra tem tamanho 150, o size especificado
len(amostra)

150

In [73]:
#amostra apenas tem 0 e 1 como seus valores, como especificado em a, e podem se repetir porque replace=True
amostra

array([0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1])

In [74]:
#49 valores da amostra são iguais a 1
len(amostra[amostra==1])
#101 valores da amostra sãoiguais a 0
len(amostra[amostra==0])

101

In [75]:
#assim selecionando todos os valores de df para amostragem onde seu index especifico corresponde a 0 no index de amostra
dfFinal = df.loc[amostra == 0]
dfFinal

     sepal length  sepal width  petal length  petal width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
5             5.4          3.9           1.7          0.4     Iris-setosa
..            ...          ...           ...          ...             ...
140           6.7          3.1           5.6          2.4  Iris-virginica
143           6.8          3.2           5.9          2.3  Iris-virginica
144           6.7          3.3           5.7          2.5  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica

[101 rows x 5 columns]